#top-nav
{
	width:80%;
	margin-left:10%;

	
}

#list-nav
{
	
	display: flex;   
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.item-nav
{
	display:flex;
	
}

#header
{
	display: flex;
	background-image: url("backgroundForm.jpg");
}

.item-nav:nth-child(1)
{
	
	
}
.item-nav:nth-child(2)
{
}
.item-nav:nth-child(3)
{
	
}
.item-nav:nth-child(4)
{
	
}
.link_nav
{
	text-decoration: none;
	color:black;
	font-size: 2em;
}

