.choix_lab
{
	flex-basis: 40%;
	color: white;
	margin-right: 2em;
}



#numero
{
	flex-basis: 60%;
}


.chat_user_area
{
	
	
	flex-basis: 25%;
	overflow-y:scroll;

}

.chat_area
{
	
	flex-basis:95%;
	
}
.chat_send_c
{
	display: flex;
	flex-direction: column;
	flex-basis:75%;
	
}



.no-focus-outline:focus
{
	
}


.form_chat_area_send
{
	display: flex;
	flex-basis: 5%;
}

.input_message
{
	flex-basis: 95%;
}

.submit_btn
{
	flex-basis:5%;
	
}

.main_c
{
	margin-left: 5%;
	margin-top: 5%;
	width:75%;
	height: 700px;
	display: flex;
	flex-direction: column;
}

#list_choix_chat
{
	display:flex;
	justify-content: flex-start;
}



.chat_c
{
	display:flex;
	flex-basis: 100%;
	

}


.c_choix_lab
{
	flex-basis: 60%;
	display: flex;


	
	
	
}




textarea
{
	resize: none;
}