body
{
	
	background-color: #DDD;
}


.c_log_search
{
	display: flex;
	justify-content: flex-end;
	flex-basis: 60%
}

.c_nav
{
	flex-basis: 40%;
}


.active
{
	color: white !important;
}

.log-button:hover
{
	color:white !important;
}



